body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-color: black;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    height: 100px;
}

.button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.content {
    max-width: 500px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form input {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.sign-up-text {
    margin-top: 20px;
    font-size: 16px;
}

.sign-up-text a {
    color: white;
    text-decoration: underline;
}

/* Este é o estilo para a caixa de alerta */
.alert {
    padding: 20px;
    background-color: #f44336; /* Cor de fundo vermelha */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* Estilo para o botão de fechar na caixa de alerta */

.alert-icon {
    color: rgb(255, 255, 255); /* Definindo a cor do ícone como branco */
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
} 

.alert .closebtn {
    margin-left: auto;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
